header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  background-color: #ffc496;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");

}

