section.new-tweet {
  width: 100%;
}

.error {
  display: none;
  padding: .5rem;
  border-style: solid;
  border-width: 2px;
  border-color: #fc4e4e;
  background-color: #ffcbcb;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label[for="tweet-text"] {
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 50px;
}

textarea {
  resize: none;
  width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: "groove";
  border-width: 0.5vh;
  background-color: #F3F1EB;
  color: #535149;
  margin-bottom: 25px;
  outline: none;
}

.button-and-counter {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

button {
  color: #FFFFFF;
  background-color: #4056A1;
  border: hidden;
}

