#tweets-container {
  width: 100%;
  padding: 5%;
  padding-top: 1%;
  margin-top: 30px;
  font-weight: 300;
}

article.tweet {
  width: 100%;
  padding: 5%;
  padding-top: 1%;
  border: 3px solid #535149;
  margin-top: 30px;
}

article.tweet:hover {
  box-shadow: 10px 5px 5px #a3add1;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #F3F1EB;
  background-image: none;
  padding-top: 0;
}

#tweets-container div.user-icon-and-name {
  display: flex;
  flex-direction: row;
  
}

.fa-user {
  color: #535149;
  padding-right: 0.5em;
}


#tweets-container header p {
  justify-items: flex-end;
}

article.tweet p.tweet-content {
  border: 3px solid #535149;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-bottom: 3%;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 1em;
}

footer i.fa-solid {
  color: #535149;
  padding-inline: 0.5em;
}

footer.tweet-footer-icons {
  justify-content: flex-end;
  justify-items: end;
}

footer i.fa-solid:hover {
  color: #5673d989;
}

@media only screen and (min-width: 1024px) {
  main.container {
    width: 100%;
    justify-content: flex-end;
    padding: 5%;
    padding-top: 1%;
    margin-top: 30px;
    font-weight: 300;
  }

  form {
    padding-top: 4rem;
  }

}